

/* Custom hover effect */
.hover-effect:hover {
    background-color:darkkhaki; 
    color: white;
    
    
}
body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
 .tic-tac-toe {
            max-width: 400px; 
            margin: auto; 
        } 